# virtual environment
.venv/
venv/

#package
poetry.lock
pyproject.toml

# IDEs
.vscode/
.idea/

# Intermediate Coverage file
.coverage

# Output files
*.png

# Python runtime
*.pyc
*.egg-info
.pytest_cache
